.card {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: transparent;
}

.book-modal {
  width: 100%;
}

.modal-image img {
  object-fit: cover;
}

@media (max-width: 431px) {
  .grid-container {
    justify-content: center;
  }
}